<div class="modal fade" id="help-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">How to Play</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Hide and Seek App is a multiplayer game wherein players all hide, and take turns seeking each other. The
          objective of the game is to be the first player to locate all others.
          Players must first choose their hiding spots by setting a marker with a clue to their location. A list of
          player clues is displayed for all to see.
          Players then take turns making guesses (by setting markers on the map) to find other players. The first player
          to find all others wins.
          Click join game to see a list of ongoing games. When you see a map you like, click join. Upon connecting, you
          will be asked to enter a screen name that will
          be displayed to other players. Note that game links can be shared, and do not require players to be
          registered. Once you have joined, you can begin setting markers on the map.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
