<div class="map-card card">
  <img
    src="https://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&zoom=12&size=400x400&key=AIzaSyCKwRADzeXtlN-GQXMFnBfF3tI19_0iT7I"
    alt="a map">
  <form class="form">
    <input type="hidden" name="map_id" value="<%= map.id %>">
    <button class="btn btn-primary" type="submit">PLAY</button>
  </form>
</div>