<div class="card card-body">
  <img
    src="https://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&zoom=12&size=400x400&key=AIzaSyCKwRADzeXtlN-GQXMFnBfF3tI19_0iT7I"
    alt="a map">
  <form>
    <input type="hidden" name="map_id" value="<%= map.id %>">
    <button type="submit">New Map</button>
  </form>
</div>