<div class="modal fade" id="player-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="POST" action="/players">
          <label class="form-group" for="screen-name">Please choose a name for your player!</label>
          <input class="form-input" type="text" id="screen-name" name="screen-name" value="" placeholder="Screen Name">
          <button type="submit" class="btn btn-primary"></button>
        </form>
      </div>
    </div>
  </div>
</div>
