<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"></script>

</head>

<body>
  <%- include('partials/_header'); %>
    <main>
      <div class="card">
        <h1>Hide and Seek App</h1>
        <form>
          <button type="submit" class="btn btn-primary" id="new-game" value="new-game">START GAME</button>
          <button type="submit" class="btn btn-primary" id="join-game" value="join-game">JOIN GAME</button>
          <button type="button" class="btn btn-primary" id="instructions" value="instructions">HOW TO PLAY</button>
        </form>
      </div>
    </main>
    <!-- <div id="map"></div> -->
    <!-- <button type="button" id="map-button">MAKE MAP</button> -->
</body>

</html>
