<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <title>Hide and Seek</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"></script>

</head>

<body>
  <img
    src="https://maps.googleapis.com/maps/api/staticmap?center=48.765812262773615,11.358355018307819&zoom=2&size=640x360&scale=2&key=<%= apiKey %>"
    alt="map of the world">
  <%- include('partials/_header', user) %>
    <main>
      <div class="card">

        <div class="card-header text-center">
          <h2>Hide and Seek App</h2>
        </div>
        <div class="card-body text-center">Have fun playing hide and seek across the globe!</div>
        <div class="card-footer">
          <div class="col">
            <form method="GET" action="/games/new">
              <button type="submit" class="btn btn-primary" value="new-game">START GAME</button>
            </form>
          </div>
          <div class="col">
            <form method="GET" action="/games">
              <button type="submit" class="btn btn-primary" value="join-game">JOIN GAME</button>
            </form>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary" id="help" data-bs-toggle="modal"
              data-bs-target="#help-modal">HOW TO
              PLAY</button>
          </div>
        </div>
      </div>
      </div>
    </main>
    <%- include('partials/_help-modal') %>
</body>

</html>
