<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <title>Start Game</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"></script>

</head>

<body>
  <%- include('partials/_header', user); %>
    <main>
      <form class="form-inline" action="/games/new" method="POST">
        <div id="map"></div>
        <div class="form-group mb-2">
          THIS IS WHERE THE MAP CONTROLS WILL BE. SUBMIT WILL CARRY CENTER & ZOOM & BOUNDS.
          <button type="submit" class="btn btn-primary">Create New Game</button>
        </div>
      </form>
    </main>
    <button type="button" id="map-button">START GAME</button>
</body>

</html>

<script>
  app.get('/', (req, res) => {
    res.render('index', { apiKey: process.env.API_KEY });
  })
</script>
